:root {
    --background-color: #8b8276;
    --font-family: "Arial", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    font-family: var(--font-family);
    overflow: auto;
}
